<div class="hero-unit">
	<h1>Welcome to Asim's Photography</h1>
	<p>
	You are now on the home page of my application
	<%= link_to "WizeNation", "http://wizenation.com"%>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
